body {
  background: rgb(34,55,195);
  background: linear-gradient(180deg, rgba(34,55,195,1) 0%, rgba(193,45,253,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

/* TOP MENU BAR */
.container-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 30px;
}

.album-img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.album-img img {
  border: 4px solid rgba(170, 14, 218, 0.803);
  box-shadow: 5px 10px #a903ce47;
  border-radius: 10%;
}

.now-playing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.music-player {
  max-width: 330px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f3f3f3;
  border-radius: 40px;
}

audio {
  width: 100%;
}
#track-list {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  width: 300px;
}

#track-list li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #7508d5cc;
  margin-bottom: 5px;
  border-radius: 5px;
}

#track-list li:hover {
  background-color: #a950f6;
}