/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***** GLOBAL *****/
* {
  box-sizing: border-box;
}
body {
  background: rgb(34,55,195);
  background: linear-gradient(180deg, rgba(34,55,195,1) 0%, rgba(193,45,253,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  background: #a950f600;
}
/***** TOP MENU BAR *****/
.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.container-top {
  display: flex;
}
.container-top .navContent  {
  display: none;
  padding-left: 60px;
}
.container-top:hover .navContent {
  display: flex;
  padding-left: 90px;
}

/***** PLAYER CONTAINER *****/
.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #953eff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
  margin: 150px 20px;
  padding: 60px 0px;
}

/* ALBUM COVER */
.album-img {
  position: relative;
  width: 110px;
}
.album-img::after {
  content: '';
  background-color: #000000;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 80%;
  right: 10%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}
.album-img img {
  border: 2px solid #953eff;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: relative;
  bottom: 100px;
  right: 60%;

  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.music-container.play .album-img img {
  animation-play-state: running;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NOW PLAYING / PLAYLIST */
#title {
  text-align: center;
  margin: 0 0 40px 0;
  /* background-color: #7300ffaa; */
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px 60px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  z-index: 1;
}
.action-btn {
  border: 0;
  color: rgb(95, 179, 252);
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.action-btn-big {
  color: #4c8eff;
  font-size: 40px;
}
.action-btn:focus {
  outline: none;
}
.music-info {
  background-color: rgba(108, 100, 255, 0.169);
  border-radius: 15px;
  width: calc(100% - 40px);
  padding: 10px 10px; 
}
.progress-container {
  background: #FFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: rgb(95, 179, 252);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}












/***** ALBUM IMAGE/ANIMATION *****/
/* .album-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.album-img img, h1{
  border: 4px solid rgba(170, 14, 218, 0.803);
  box-shadow: 5px 10px #0000001b;
  border-radius: 50%;
  padding: 3px;
} */

/***** BUTTONS *****/
/* button {
  cursor: pointer;
  border: none;
  background: #a950f600;
}
button:hover {
  color: aquamarine;
}
.music-player {
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  margin: 30px auto;
} */
/***** TRACK LIST DISPLAY *****/
/* #track-list {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  width: 300px;
}
#track-list li, #currentTrack {
  font-size: 1.3rem;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #7508d5cc;
  margin-bottom: 5px;
  border-radius: 5px;
  color: rgb(202, 195, 254);
}
#track-list li:hover {
  background-color: #a950f6;
} */